<!-- app/views/blog_posts/index.html.erb -->

<h1>Blog Posts</h1>

<ol>
  <% @blog_posts.each do |blog_post| %>
    <div class="mt-5">
       <li>
        <%= link_to blog_post.title, blog_post %><br>
        <% if blog_post.draft? %>
          <div class="p-1 rounded bg-gray-100 text-orange-900">Draft</div>
        <% elsif blog_post.scheduled? %>
          <div class="p-1 rounded bg-blue-100 text-blue-900">Scheduled</div>
        <% end %>
        <%= blog_post.content %>
    </div>
    </li>
  <% end %>
</ol>

<%== render 'pagy/custom_nav', pagy: @pagy %>
