<!-- app/views/blog_posts/index.html.erb -->

<h1>Blog Posts</h1>

<ol>
  <% @blog_posts.each do |blog_post| %>
    <div>
      <li>
        <%= link_to blog_post.title, blog_post %><br>
        <%= blog_post.body %>
      </li>
    </div>
  <% end %>
</ol>
